<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>Servlet.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Servlet.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>Servlet.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchController</servlet-name>
        <servlet-class>Servlet.searchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addController</servlet-name>
        <servlet-class>Servlet.addController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeController</servlet-name>
        <servlet-class>Servlet.removeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editController</servlet-name>
        <servlet-class>Servlet.editController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProductController</servlet-name>
        <servlet-class>Servlet.viewProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewUserController</servlet-name>
        <servlet-class>Servlet.viewUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchUserController</servlet-name>
        <servlet-class>Servlet.searchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProductController</servlet-name>
        <servlet-class>Servlet.updateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserController</servlet-name>
        <servlet-class>Servlet.updateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductController</servlet-name>
        <servlet-class>Servlet.deleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUserController</servlet-name>
        <servlet-class>Servlet.deleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileController</servlet-name>
        <servlet-class>Servlet.updateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProfileController</servlet-name>
        <servlet-class>Servlet.viewProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductController</servlet-name>
        <servlet-class>Servlet.addProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>Servlet.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutController</servlet-name>
        <servlet-class>Servlet.checkoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchController</servlet-name>
        <url-pattern>/searchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addController</servlet-name>
        <url-pattern>/addController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeController</servlet-name>
        <url-pattern>/removeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editController</servlet-name>
        <url-pattern>/editController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProductController</servlet-name>
        <url-pattern>/viewProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewUserController</servlet-name>
        <url-pattern>/viewUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchUserController</servlet-name>
        <url-pattern>/searchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProductController</servlet-name>
        <url-pattern>/updateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserController</servlet-name>
        <url-pattern>/updateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductController</servlet-name>
        <url-pattern>/deleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUserController</servlet-name>
        <url-pattern>/deleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileController</servlet-name>
        <url-pattern>/updateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProfileController</servlet-name>
        <url-pattern>/viewProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductController</servlet-name>
        <url-pattern>/addProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/registerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutController</servlet-name>
        <url-pattern>/checkoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index1.jsp</welcome-file>
    </welcome-file-list>
</web-app>
